h1 {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}